[
	{ rabbit, [
		{log, [
            {file, [{file, "/var/log/rabbitmq/activity.log"}, %% log.file
                    {level, info},        %% log.file.info
                    {date, ""},           %% log.file.rotation.date
                    {size, 0},            %% log.file.rotation.size
                    {count, 1}            %% log.file.rotation.count
                    ]}
        ]},
    {tcp_listen_options, [binary, {backlog, 1024}, {nodelay, true}, {keepalive, true} ]},
    {vm_memory_high_watermark, 0.6},
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ default_pass, <<"password">> },
		{ default_user, <<"admin">> },
		{ hipe_compile, false }
	] },

	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] },
		{load_definitions, "/etc/rabbitmq/definitions.json"}
	] }
].
